    <header class="row align-items-center">
        <div class="col-4">
          <a href="/login.html" style="background-color: inherit;"><img  src="/images/connect_logo.svg" width="50"  class="img-fluid" alt=""></a>  
            <span>{{data.user.name}}</span>
        </div>
        <div class="col  ">
            <nav class="navbar ">
                <form class="form-inline my-2 ">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
                <ul class="navbar-nav flex-row align-items-center">
                    <li class="nav-item mx-1">
                      <button>Favourite</button>
                    </li>
                    <li class="nav-item mx-1">
                        <button>Notification </button>
                    </li>
                    <li class="nav-item mx-1">
                        <a href="/task/form" class="p-2 ">+ Task </a>
                    </li>
                    <li class="nav-item mx-1">
                        <a href="/logout" class="logout ">Logout </a>
                    </li>
                </ul>
              </nav>
        </div>
    </header>
