<aside class="col-3 " >
    <div class="nav-category">
                <div class="border-top border-bottom p-2  d-flex flex-wrap justify-content-between align-items-center">
                    <h3>My WorkSpace</h3>
                    <a class="p-2" href="/workspace/form">+ New </a>
                </div>
                
                <div class="border-top border-bottom p-2  d-flex flex-wrap justify-content-between align-items-center">
                    <h4 class="text-bold">Projects </h4>
                    <a href="" class="p-2 ">+ New </a>
                </div>

                <ul class="projects pr-3 pl-1">
                
                    <li>Project1 </li>
                    <ul>
                        <li>task1.1</li>
                        <li>task1.2</li>
                        <li>task1.3</li>
                    </ul>
                    <li>Project2</li>
                    <li>Project3</li>
                    <ul>
                        <li>task3.1</li>
                        <li>task3.2</li>
                        <li>task3.3</li>
                    </ul>
                    <li>Project4</li>
                </ul>
            </div>
            
</aside>