{{assign 'current_project_id' data.project_id}}
{{assign 'current_space_id' data.space_id}}

<div class="nav-category d-flex flex-sm-row flex-md-column flex-fill flex-wrap justify-content-between">
    {{> workspace_aside}}
    {{> project_aside}}  
    {{> task_aside}}           
 </div>
