<form action="/workspace/join" method="post">
    <input type="text" name="user_id" value="{{data.user._id}}" hidden="true">

      <span class="text-danger">{{data.errorMsg}}</span><br>  
    <label for="" class="my-2">Join Code: </label> <br>
    <input type="text" name="join_code" placeholder="Enter join code" required style="min-width: 360px;">

    <button type="submit" class="">Join</button>
</form>