<form action="/workspace/invite" method="post">
    <input type="text" name="space_id" value="{{data.space_id}}" hidden="true">
    <input type="text" name="inviter_name" value="{{data.user.name}}" hidden="true">
    <input type="text" name="inviter_email" value="{{data.user.email}}" hidden="true">

    <label for="" class="my-2">Invitees email: </label> <br>
    <input type="text" name="invitees" placeholder="space separate e.g a@email.com b@email.com" required style="min-width: 360px;">

    <input type="submit" value="Send Invite">
</form>