     <section class="task col m-4 p-2 ">
          <div class="task-header d-flex flex-row justify-content-between">
            <div class="p-2">Status</div>
            <div class="p-2">assignee of task</div>
            <div class="p-2">date created</div>
            <div class="p-2">set due date</div>
          </div>
          <div class="task-body row">
            <form class="col-8 left" action="#" enctype="multipart/form-data">
              <div>
                <h2>Task Title</h2>
                <p>Tags:
                  Bug, Sprint22
                </p>
                <textarea class="col" name="" id="" rows="10">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore et, nulla rem magnam explicabo
                   cupiditate fugit quia assumenda
                </textarea>
              </div>

              <div class="my-3">
                <label for="#">Attachments/files: </label>
                <input multiple type="file">
              </div>

              <div  class="my-3">
                <label for="#">Comment: </label>
                <input type="text"placeholder="comment on this task">
                <input type="submit">
              </div>


            </form>
            <div class="col right">
              <h2>Task History</h2>
              <p>User1 moved task</p>
              <p>User1 assigned task</p>
              <p>User2 commented: lorem ipsum</p>

            </div>

          </div>
        </section>